{% extends 'base/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% endblock %}
{% block content %}
<div class="intro">
    <div class="container">
        <div class="intro__inner">
            <h2 class="intro__suptitle">about</h2>
            <h1 class="intro__title">RSA_CRYPT</h1>

            <a class="btn" href="{%url 'registration'%}">Зарегистрироваться</a>
        </div>
    </div>
</div><!-- /.intro -->


<section class="section">
    <div class="container">

        <div class="section__header">
            <h3 class="section__suptitle">What it does</h3>
            <h2 class="section__title">Немного о сервисе</h2>
            <div class="section__text">
                <p>Сервис поможет вам лучше разобраться в принципе работы основного алгоритма асимметричного
                    шифрования, используемого по всему миру.</p>
            </div>
        </div>

    </div><!-- /.container -->
</section>


<section class="section">
    <div class="container">

        <div class="section__header">
            <h3 class="section__suptitle">Tips for users</h3>
            <h2 class="section__title">Краткое пояснение работы алгоритма</h2>
        </div>

        <div class="services">
            <div class="services__item">
                <div class="services__title">Алгоритм шифрования</div>
                <div class="services__text">На данном сайте реализован основной алгоритм асимметричного шифрования(RSA),
                    предполагающий наличие двух ключей(приватный и публичный) у каждого пользователя. Публичный ключ
                    известен любому пользователю, а приватный держится в секрете.
                </div>
            </div>
            <div class="services__item">
                <div class="services__item__">
                    <img src="{% static 'imgs/index/index.jpeg' %}" alt="">
                </div>
            </div>
        </div>

        <hr>

        <div class="services">
            <div class="services__item">
                <div class="services__item__">
                    <img src="{% static 'imgs/index/index.jpeg' %}" alt="">
                </div>
            </div>
            <div class="services__item">
                <div class="services__title">Значение ключей</div>
                <div class="services__text">Как уже говорилось ранее, у каждого пользователя есть два ключа. Если
                    пользователь А хочет отправить свое сообщение пользователю В, он использует публичный ключ
                    пользователя В.
                    Пользователь В же, в свою очередь, расшифровывает сообщение своим приватным ключом и получает
                    исходный текст. Более
                    подробное объяснение Вы найдете в разделе "Справка".
                </div>
            </div>
        </div>

    </div><!-- /.container -->
</section>

<section class="section">
    <div class="container">

        <div class="section__header">
            <h2 class="section__title">Чтобы пользоваться сервисом в полной мере, Вам необходимо</h2>
            <a class="btn_second" href="{%url 'registration'%}">Зарегистрироваться</a>
        </div>


    </div><!-- /.container -->
</section>


{% endblock %}
